@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@keyframes cambio {
  0% {
    margin-left: 0; }
  35% {
    margin-left: 0; }
  40% {
    margin-left: -100%; }
  75% {
    margin-left: -100%; }
  80% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }

/*BOOTSTRAP*/
.carousel {
  margin-bottom: 100px; }
  .carousel .carousel-inner div {
    transition: none; }
    .carousel .carousel-inner div ul {
      justify-content: center;
      gap: 100px;
      list-style: none;
      padding-left: 0; }
      .carousel .carousel-inner div ul img {
        width: 200px;
        height: 200px;
        padding: -30px; }

.circle50 img {
  border-radius: 50%; }

.carousel-control-next-icon {
  background-color: #26348C; }

.carousel-control-prev-icon {
  background-color: #26348C; }

/*FIN BOOTSTRAP*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  background: linear-gradient(white, #dfdede); }

/*INICIO DE HEADER*/
header section {
  background-color: #26348C;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header img {
  height: 90px;
  margin-left: -3%; }

header nav {
  margin-right: 5%; }
  header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0; }
    header nav ul li {
      display: flex;
      align-items: center; }
      header nav ul li a {
        text-decoration: none;
        color: white;
        margin: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
        header nav ul li a:hover {
          text-decoration: underline;
          text-decoration-color: white;
          font-size: 21px; }

.navbar-tablet {
  display: none; }

/*FIN DE HEADER*/
/*INICIA INDEX*/
.banerX {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .banerX div {
    width: 95%;
    margin: auto;
    overflow: hidden; }
    .banerX div ul {
      padding: 0;
      display: flex;
      width: 300%;
      margin-bottom: 0;
      animation: cambio 24s infinite alternate; }
    .banerX div li {
      list-style: none;
      width: 100%;
      margin-left: 5%;
      margin-right: 5%; }
    .banerX div img {
      width: 100%; }

.esloganInicio {
  background-color: #26348C;
  color: white; }
  .esloganInicio h1 {
    width: 100%;
    height: 242px;
    font-size: 48px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

.nclientes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 3%;
  margin-top: 3%; }

/*INICIA QS*/
.globQS {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3%;
  margin-top: 2%; }
  .globQS h1 {
    display: none; }
  .globQS aside {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px; }
    .globQS aside img {
      width: 350px;
      height: 350px; }
  .globQS section {
    margin-left: 2.5%;
    margin-right: 2.5%; }
    .globQS section > div {
      margin-bottom: 50px; }
      .globQS section > div div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
    .globQS section h2 {
      font-size: 32px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0; }
      .globQS section h2:nth-child(2) {
        color: #26348C; }
    .globQS section p {
      font-size: 22px;
      width: 100%;
      margin: 0,5%,0,5%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }

/*FIN DE QS*/
/*INICIA SERVICIOS*/
.globServicios {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3%;
  margin-top: 2%; }
  .globServicios h1 {
    display: none; }
  .globServicios > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 24px; }
    .globServicios > div h2 {
      font-size: 36px;
      font-weight: 700; }
      .globServicios > div h2:nth-child(2) {
        color: #26348C; }
  .globServicios section {
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .globServicios section .servMostrar {
      display: none; }
    .globServicios section .servImgH {
      display: none;
      margin-left: 700px;
      position: absolute;
      top: 0;
      border: black solid 2px;
      box-shadow: #c0bebe 15px 15px 10px;
      width: 600px;
      height: 400px; }
      .globServicios section .servImgH:hover {
        transform: scale3d(1.1, 1.1, 0.3);
        -webkit-transform: scale3d(1.1, 1.1, 0.3);
        -moz-transform: scale3d(1.1, 1.1, 0.3); }
    .globServicios section .servImgV {
      display: none;
      margin-left: 700px;
      position: absolute;
      top: 0;
      border: black solid 2px;
      box-shadow: #c0bebe 15px 15px 10px;
      width: 400px;
      height: 600px; }
      .globServicios section .servImgV:hover {
        transform: scale3d(1.1, 1.1, 0.3);
        -webkit-transform: scale3d(1.1, 1.1, 0.3);
        -moz-transform: scale3d(1.1, 1.1, 0.3); }
    .globServicios section > div {
      position: relative;
      background-color: transparent;
      border-bottom: none; }
      .globServicios section > div div .servH li:hover .servImgH {
        display: flex; }
      .globServicios section > div div .servH li:hover .servImgV {
        display: flex; }
      .globServicios section > div div .servV li:hover .servImgH {
        display: flex; }
      .globServicios section > div div .servV li:hover .servImgV {
        display: flex; }
      .globServicios section > div button {
        font-size: 32px;
        background-color: transparent;
        font-weight: 700; }
      .globServicios section > div h2 {
        border-width: thin;
        border-style: solid;
        margin-right: 900px;
        border-right-style: none;
        border-left-style: none; }
    .globServicios section ul {
      margin-left: 30px;
      list-style-type: none; }
    .globServicios section li:hover {
      color: #26348C;
      font-weight: 700;
      cursor: pointer; }

/*FIN DE SERVICIOS*/
/* INICIA LONAS*/
.globalLonas {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3%; }
  .globalLonas img {
    width: 100%; }
  .globalLonas p {
    margin-bottom: 0; }
  .globalLonas h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 5px; }
  .globalLonas h2 {
    color: #26348C;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center; }
  .globalLonas .notasLonas {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    text-align: right;
    margin-right: 5%;
    font-weight: 600; }
  .globalLonas .grid-lonas {
    display: grid;
    grid-template-columns: 30% repeat(3, 15%);
    grid-template-rows: repeat(11, 1fr);
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: "tabla1 tabla2 tabla3 tabla4" "desc1 unid1 precio1 observ1" "desc2 unid2 precio2 ." "desc3 unid3 precio3 ." "desc4 unid4 precio4 ." "desc5 unid5 precio5 ." "desc6 unid6 precio6 ." "desc7 precio7 precio7 observ2" ". . . ." "desc8 precio8 precio8 ." "desc9 precio8 precio8 ."; }
    .globalLonas .grid-lonas h3 {
      font-size: 18.8px;
      font-weight: 700;
      margin-bottom: 0;
      line-height: normal; }
    .globalLonas .grid-lonas div {
      line-height: normal; }

/*DESCRIPCIÓN*/
.tabla1 {
  grid-area: tabla1;
  justify-self: center;
  text-align: center; }

.desc1 {
  grid-area: desc1;
  justify-self: center;
  text-align: center; }

.desc2 {
  grid-area: desc2;
  justify-self: center;
  text-align: center; }

.desc3 {
  grid-area: desc3;
  justify-self: center;
  text-align: center; }

.desc4 {
  grid-area: desc4;
  justify-self: center;
  text-align: center; }

.desc5 {
  grid-area: desc5;
  justify-self: center;
  text-align: center; }

.desc6 {
  grid-area: desc6;
  justify-self: center;
  text-align: center; }

.desc7 {
  grid-area: desc7;
  justify-self: center;
  text-align: center; }

.desc8 {
  grid-area: desc8;
  justify-self: center;
  text-align: center; }

.desc9 {
  grid-area: desc9;
  justify-self: center;
  text-align: center; }

/* UNIDAD */
.tabla2 {
  grid-area: tabla2;
  justify-self: center;
  text-align: center; }

.unid1 {
  grid-area: unid1;
  justify-self: center;
  text-align: center; }

.unid2 {
  grid-area: unid2;
  justify-self: center;
  text-align: center; }

.unid3 {
  grid-area: unid3;
  justify-self: center;
  text-align: center; }

.unid4 {
  grid-area: unid4;
  justify-self: center;
  text-align: center; }

.unid5 {
  grid-area: unid5;
  justify-self: center;
  text-align: center; }

.unid6 {
  grid-area: unid6;
  justify-self: center;
  text-align: center; }

/* PRECIO */
.tabla3 {
  grid-area: tabla3;
  justify-self: center;
  text-align: center; }

.precio1 {
  grid-area: precio1;
  justify-self: center;
  text-align: center; }

.precio2 {
  grid-area: precio2;
  justify-self: center;
  text-align: center; }

.precio3 {
  grid-area: precio3;
  justify-self: center;
  text-align: center; }

.precio4 {
  grid-area: precio4;
  justify-self: center;
  text-align: center; }

.precio5 {
  grid-area: precio5;
  justify-self: center;
  text-align: center; }

.precio6 {
  grid-area: precio6;
  justify-self: center;
  text-align: center; }

.precio7 {
  grid-area: precio7;
  justify-self: center;
  text-align: center; }

.precio8 {
  grid-area: precio8;
  justify-self: center;
  text-align: center; }

/* OBSERVACIONES */
.tabla4 {
  grid-area: tabla4;
  justify-self: center;
  text-align: center; }

.observ1 {
  grid-area: observ1;
  justify-self: center;
  text-align: center; }

.observ2 {
  grid-area: observ2;
  justify-self: center;
  text-align: center; }

/*FIN DE LONAS*/
/*INICIA CONTACTO*/
.glbCont {
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif; }
  .glbCont h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .glbCont h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 30px; }
  .glbCont ul {
    padding-left: 0; }
  .glbCont li {
    list-style: none; }

.Ct {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 30px; }
  .Ct h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px; }
  .Ct .grid-telf {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    .Ct .grid-telf div {
      display: flex; }
    .Ct .grid-telf li {
      font-size: 24px;
      list-style: none; }
    .Ct .grid-telf a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center; }
    .Ct .grid-telf img {
      width: 70px;
      height: 70px; }
    .Ct .grid-telf li a:hover {
      transform: scale3d(1.1, 1.1, 0.3);
      -webkit-transform: scale3d(1.1, 1.1, 0.3);
      -moz-transform: scale3d(1.1, 1.1, 0.3); }
  .Ct .grid-red {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    .Ct .grid-red div {
      display: flex; }
    .Ct .grid-red li {
      font-size: 24px;
      list-style: none; }
    .Ct .grid-red a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center; }
    .Ct .grid-red img {
      width: 70px;
      height: 70px; }
    .Ct .grid-red li {
      margin-bottom: 20px; }
    .Ct .grid-red img {
      width: 35px;
      height: 35px;
      margin-right: 20px; }
      .Ct .grid-red img:hover {
        transform: scale3d(1.1, 1.1, 0.3);
        -webkit-transform: scale3d(1.1, 1.1, 0.3);
        -moz-transform: scale3d(1.1, 1.1, 0.3); }
  .Ct .grid-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    .Ct .grid-mail div {
      display: flex; }
    .Ct .grid-mail li {
      font-size: 24px;
      list-style: none; }
    .Ct .grid-mail a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center; }
    .Ct .grid-mail img {
      width: 70px;
      height: 70px; }
    .Ct .grid-mail img {
      width: 35px;
      height: 35px;
      margin-right: 20px; }
      .Ct .grid-mail img:hover {
        transform: scale3d(1.1, 1.1, 0.3);
        -webkit-transform: scale3d(1.1, 1.1, 0.3);
        -moz-transform: scale3d(1.1, 1.1, 0.3); }
    .Ct .grid-mail a {
      font-size: 24px; }

.grid-mapas {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px 15px;
  grid-template: repeat(2, 1fr)/50% 50%;
  grid-template-areas: "direc1 mapa1" "direc2 mapa2"; }
  .grid-mapas iframe {
    justify-self: center; }
  .grid-mapas .direc1 {
    grid-area: direc1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-left: 40px; }
    .grid-mapas .direc1 p {
      font-weight: 600; }
    .grid-mapas .direc1 p:nth-child(2) {
      margin-bottom: 0;
      font-weight: 400; }
    .grid-mapas .direc1 p:nth-child(3) {
      margin-bottom: 0;
      font-weight: 400; }
  .grid-mapas .direc2 {
    grid-area: direc2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-left: 40px; }
    .grid-mapas .direc2 p {
      font-weight: 600; }
    .grid-mapas .direc2 p:nth-child(2) {
      margin-bottom: 0;
      font-weight: 400; }
    .grid-mapas .direc2 p:nth-child(3) {
      margin-bottom: 0;
      font-weight: 400; }
  .grid-mapas .mapa1 {
    grid-area: mapa1;
    width: 630px;
    height: 500px; }
  .grid-mapas .mapa2 {
    grid-area: mapa2;
    width: 630px;
    height: 500px; }

/*INICIO FOOTER*/
footer {
  height: 180px;
  width: 100%;
  background-color: #26348C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  position: relative;
  text-align: center; }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer div:nth-child(2) ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0; }
    footer div:nth-child(2) ul li {
      list-style: none;
      text-align: center; }
  footer div:nth-child(3) ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    justify-content: space-between; }
    footer div:nth-child(3) ul li a {
      margin: 20px; }
      footer div:nth-child(3) ul li a img {
        width: 50px; }
        footer div:nth-child(3) ul li a img:hover {
          transform: scale3d(1.1, 1.1, 0.3);
          -webkit-transform: scale3d(1.1, 1.1, 0.3);
          -moz-transform: scale3d(1.1, 1.1, 0.3); }
      footer div:nth-child(3) ul li a img:nth-child(4) {
        width: 50px; }
  footer p {
    margin: 0; }
  footer h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center; }

/*FIN DE FOOTER*/
