
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@keyframes cambio {
    0% {margin-left: 0;}
    35% {margin-left: 0;}
    
    40% {margin-left: -100%;}
    75% {margin-left: -100%;}

    80% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

/*
color: #26348C 

font-family: 'Montserrat', sans-serif;

background-color: white
linear-gradient:

*/

/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    background: linear-gradient(white, rgb(223, 222, 222));
} 

.h1Invisible{
    display: none;
}

.titColor{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.color2Tit{
    color: #26348C;
    margin-left: 7px;
}

.letraAzul{
    color: #26348C;
}
.asides{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.asides img{
    width: 350px;
    height: 350px;
}

/* HEADER Y BARRA DE NAV */
header {
    background-color: #26348C;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 90px;
    margin-left: -3%;
}

nav{
    margin-right: 5%;
}

.navBar {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}

.navBar li a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-style:normal;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.navBar li a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 21px;
}
/* TERMINA BARRA DE NAV */

/* EMPIEZA INICIO */
    /*BANER*/

.sliderX{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.sliderX ul{
    padding: 0;
    display: flex;
    width: 300%;
    
    animation: cambio 24s infinite alternate;
}
    .sliderX li{
    list-style: none;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    }
    
.sliderX img{
    width: 100%;
}
    
    
.banerX{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.esloganInicio{
    display: flex;
    background-color: #26348C;
    color: white;
    justify-content: center;
    align-items: center;
}

.esloganInicio h1{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 242px;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /*TERMINA BANER*/
    /*CLIENTES*/

.nclientes {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3%;
}

.carousel{
    margin-bottom: 100px;
}
.clientes-slider{
    justify-content: center;
    gap: 50px;
    list-style: none;
}
.clientes-slider img{
    width: 200px;
    height: 200px;
    padding: -30px;
}

.circle50 img{
    border-radius: 50%;
}
.carousel-item{
    transition: none;
}

.carousel-control-next-icon{
    background-color: #26348C ;
}
.carousel-control-prev-icon{
    background-color: #26348C ;
}

/* TERMINA INICIO */

/* EMPIZA ¿QUIENES SOMOS? */
.globQS{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
    margin-top: 2%;
}
.globQS h2{
    font-weight: 700;
    margin-bottom: 0;
}
.margQS h2{
    font-size: 32px;
    display: flex;
    align-items: center;
}

.margQS h2:nth-child(2){
    color: #26348C;
}
.margQS{
    margin-left: 5%;
}

.margQS p{
    margin-left: 2%;
    font-size: 22px;
    width: 90%;
    height: auto
}


.margQS div:nth-child(5){
    margin-bottom: 30px;
}
.margQS div:nth-child(2){
    margin-bottom: 30px;
}
.margQS div:nth-child(3){
    margin-bottom: 30px;
}
.margQS div:nth-child(4){
    margin-bottom: 30px;
}

.margQS p {
    position:relative;
    
}
/* TERMINA ¿QUINES SOMOS? */

/* EMPIEZA SERVICIOS PARA EVENTOS*/
.globServicios{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
    margin-top: 2%;
}
.serviciosTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.serviciosTitulo h2{
    font-size: 36px;
    font-weight: 700;
}
.serviciosFlex{
    display: flex;
}

.serv{
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.serv div:hover .servMostrar{
    display:flex;
    flex-direction: column;
}
.servMostrar {
    display:none;
}


.serv ul{
    margin-left: 30px;
    list-style-type: none;
}

    /*COLOR AL SELECCIONAR*/
.serv li:hover{
    color: #26348C;
    font-weight: 700;
    cursor: pointer;
}
    /*  IMG HORIZONTALES */

.servH li:hover .servImgH{
    display: flex;
}

.servImgH{
    display: none;
    width: 600px;
    height: 400px;
    margin-left: 700px;
    position: absolute;
    top: 0;
    border: black 5px;
    border-style: solid;
    padding: 2%;
    background-color: white;
    box-shadow: black 15px 15px 20px;
}

    /*  IMG VERTICALES */
.servV li:hover .servImgV{
    display: flex;
} 
.servImgV{
    display: none;
    width: 400px;
    height: 600px;
    margin-left: 700px;
    position: absolute;
    top: 0;
    border: black 5px;
    border-style: solid;
    padding: 2%;
    background-color: white;
    box-shadow: black 15px 15px 20px;
}

    /*BORDES DE TITULOS */
.svc{
    position: relative;
    background-color: transparent;
    border-bottom: none;
}
.svc h2{
    border-width: thin;
    border-style: solid;
    margin-right: 900px;
    border-right-style: none;
    border-left-style: none;
}
.accordion-button{
    font-size: 32px;
    background-color: transparent;
    font-weight: 700;
}
/* TERMINA SERVICIOS PARA EVENTOS*/

/* EMPIEZA LONAS */
.globalLonas{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;

}

.tituloLonas{
    text-align: center;
    text-transform: uppercase;
}

.banerLonas img{
    width: 100%;
}

.listaPreciosLonas{
    text-align: center;
    color: #26348C;
}

.tablaPreciosLonas{
    display: flex;
    justify-content: center;
}

.seccionTabla{
    text-align: center;
}

.liTabla{
    text-align: center;
    list-style: none;
}

.notasLonas{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    text-align: right;
    margin-right: 5%;
    font-weight: 600;
}
/* TERMINA LONAS */

/*EMPIEZA CONTACTANOS*/
    /*GLOBAL CONTACTANOS*/
.glbCont{
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
}
.glbCont h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
}
.glbCont ul{
    padding-left: 0;
}
.glbCont li{
    list-style: none;
}

.Ct{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}

.Ct h2{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
}
    /*TELEFONOS*/

.telf{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.telf div{
    display: flex;
}
.telf li{
    font-size: 24px;
}

.telf img{
    width: 70px;
    height: 70px;
}

    /*REDES SOCIALES*/

.redessc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.redessc li{
    margin-bottom: 20px;
    
}

.redessc img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.redessc a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

    /*MAPAS*/

.visit1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 24px;
}
.grid-mapas{
    display: grid;
    align-items: center;
    justify-self: center;
    width: 90%;
    gap: 50px 15px;
    grid-template: repeat(2,1fr) / 50% 50%;
    grid-template-areas: 
    "direc1 mapa1"
    "direc2 mapa2"
    ;
}

.direc1{
    grid-area: direc1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
}
.direc1 p{
    margin-bottom: 0;
}
.direc1 p:nth-child(2){
    font-weight: 400;
}
.direc1 p:nth-child(3){
    font-weight: 400;
}
.direc2{
    grid-area: direc2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
}
.direc2 p{
    margin-bottom: 0;
}
.direc2 p:nth-child(2){
    font-weight: 400;
}
.direc2 p:nth-child(3){
    font-weight: 400;
}

.mapa1{
    grid-area: mapa1;
    width: 750px;
    height: 500px;
}
.mapa2{
    grid-area: mapa2;
    width: 750px;
    height: 500px;
}
/*EMPIEZA FOOTER*/

footer {
    height: 180px;
    width: 100%;
    background-color: #26348C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
}
footer p{
    margin: 0;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.telefonos{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

}
.telefonos li{
    list-style: none;   
}

/*.telefonos li:nth-child(2){
    margin-top: -10px;
}*/
.redessociales{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.redessociales li a {
    margin: 20px;
} 

.logoRedSoc {
    width: 50px;
    
}

.logoMSN{
    margin-left: -40px;
    width: 50px;
}